body{

    font-family: 'Oswald', sans-serif;
}


.container-wrapper{
color: white;
}

.callout-container{
height: 100vh;
background: url(../../images/gloves.jpg) no-repeat  right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.opaque-overlay{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);

} 



/*----------------brackground-containers */
.benefits-container{

background: url(../../images/exercise.jpg) no-repeat  right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
    
}
.history-container{
    background: url(../../images/old-ring.jpg) no-repeat  right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}
.equipment-container{

    background: url(../../images/boxing-equipment.jpg) no-repeat  right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

 color: #f4f4f4;   
}

.gallery-container{
     background: url(../../images/spotlight.jpg) no-repeat  right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;
}



/* page heades */

@media (max-width: 576px) {
.gallery-container h2{
    font-size: 36px;
}

}
/* iframe */
.embed-responsive {
    position: relative;
    display:block;
    width: 50%;
    margin-bottom: 5rem;
    padding: 10rem;
    overflow: hidden;
  
}

iframe{
    width: 55%;
    height: 16rem;
}

/* block divider */

.blcok-divider {
    width:75px;
    height:5px;
    border:0;
    background-color: #444;

}
.block-divider--orange{
    background-color:#f05f40;

}

.block-divider--short {
    width:35px;
    
}

.blockquote {
    margin-bottom: 5rem;
    font-size: 1.25rem;
}

/*  content-containers */

.content-container{
padding-top: 60px;
padding-bottom: 60px;

}

/*navbar*/

.navalert-container{
position: absolute;
top: 0;
left: 0;
padding-left: 0;
padding-right: 0;
z-index: 1;
}
.nav-text{
    color: white;
}

.navbar{
margin-bottom: 0;
border: 0;
width: 100%;
background-color: rgba(0, 0, 0, 0.25);

}
.navbar .navbar-toggler{
    border: 0;
}

.navbar-brand a {
    font-weight: bold;
}
.navbar .navbar-nav{
    font-weight: bold;
}

/*jumbotron*/

.jumbotron{
background-color:transparent;

}

.jumbotron-header {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    padding-top: 20px;

}
.jumbotron .lead { 
    margin: 25px 0;
    color: #ffffff;
    font-size: 26px;
}



/*buttton*/

.btn--cta{
font-weight: bold;
border-radius: 23px;
width: 160px;

}

.btn--green {
color: white;
background-color: #17c425;
    border-color: #17c425;

}

.btn--green:hover,
.btn--green:active,
.btn--green:focus,
.btn--green:active:focus {
background-color: #f05f40;
border-color: #f05f40;
   
    color: white;
}

/*--------------Benefits */

.Benefits{
    text-align: center;
    margin-bottom: 25px;
    
}
.Benefits i{
    
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
} 
.Benefits p{
letter-spacing: 2px;
font-weight: 300;
font-size: 23px;

}


/*--------------Gallery */

.gallery-container i {
    color: red;
    margin: 20px;
}

.gallery{
     text-align: center;
    margin-bottom: 25px;
    

}
.gallery i{
    
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
} 
.gallery p{
letter-spacing: 2px;
font-weight: 300;
font-size: 23px;

}

/*--------------History */
.history {
    margin-bottom: 25px;
}

.history .bg-text{
    text-align: left;
     background-color: rgba(0, 0, 0, 0.5212);
}
.history i{
    
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;..
} 
.history p{
letter-spacing: 2px;
font-weight: 300;
font-size: 23px;

}
/*------------- image,background-text*/
img{
    margin: 13px;
}

.bg-text{
    background-color: rgba(0, 0, 0, 0.712);
    margin-top: 25px;
    text-align: center;
    letter-spacing: 2px;
}

/*-------------------------------------------------footer */

footer {
    background-color: #343a40;;
    color: #fafafa;
    min-height: 120px;
    margin:0; 

}

.i-margin{
    margin-right: 10px;
}
.socail-links{
    padding-bottom: 15px;   
    margin-right: 10px;
}

.socail-links li a i {
width: 32px;
height: 32px;
padding: 12px 0;
border-radius: 50%;
font-size: 13px;
line-height: 7px;
text-align: center;
color: #fafafa;
background: #8f8f8f;
transition: all 0.35s ease-in-out;
-moz-transition: all 0.35s ease-in-out;
-webkit-transition: all 0.35s ease-in-out;
-o-transition: all 0.35s ease-in-out;

}
.socail-links li a i:hover{
    background: #e84610;
}
/*------------------------------------------------- Special paddings/margins/text. */

h2{
margin: 0;
font-size: 5rem;
}
h3{
    margin: 37px;
    font-size: 2rem;
}

.uppercase{
    text-transform: uppercase;
}

.general-sub{
    font-family: "Exo", sans-serif;
    font-weight: 300;
    color: #fafafa;
}